{%- comment -%}
  address-form.liquid
  Usage: pass in a form object like `form` or an address.
{%- endcomment -%}

<div class="form-group">
  <label for="FirstName_{{ form.id | default: 'new' }}">First Name</label>
  <input type="text" id="FirstName_{{ form.id | default: 'new' }}" name="address[first_name]" value="{{ form.first_name }}" />
</div>

<div class="form-group">
  <label for="LastName_{{ form.id | default: 'new' }}">Last Name</label>
  <input type="text" id="LastName_{{ form.id | default: 'new' }}" name="address[last_name]" value="{{ form.last_name }}" />
</div>

<div class="form-group">
  <label for="Company_{{ form.id | default: 'new' }}">Company</label>
  <input type="text" id="Company_{{ form.id | default: 'new' }}" name="address[company]" value="{{ form.company }}" />
</div>

<div class="form-group">
  <label for="Address1_{{ form.id | default: 'new' }}">Address</label>
  <input type="text" id="Address1_{{ form.id | default: 'new' }}" name="address[address1]" value="{{ form.address1 }}" />
</div>

<div class="form-group">
  <label for="Address2_{{ form.id | default: 'new' }}">Apartment, suite, etc.</label>
  <input type="text" id="Address2_{{ form.id | default: 'new' }}" name="address[address2]" value="{{ form.address2 }}" />
</div>

<div class="form-group">
  <label for="City_{{ form.id | default: 'new' }}">City</label>
  <input type="text" id="City_{{ form.id | default: 'new' }}" name="address[city]" value="{{ form.city }}" />
</div>

<div class="form-group">
  <label for="Country_{{ form.id | default: 'new' }}">Country</label>
  <select
    id="Country_{{ form.id | default: 'new' }}"
    name="address[country]"
    data-country-select
    data-default="{{ form.country }}">
    {{ all_country_option_tags }}
  </select>
</div>

<div class="form-group" id="ProvinceGroup_{{ form.id | default: 'new' }}" style="display:none;">
  <label for="Province_{{ form.id | default: 'new' }}">Province</label>
  <select
    id="Province_{{ form.id | default: 'new' }}"
    name="address[province]"
    data-province-select
    data-default="{{ form.province }}">
  </select>
</div>

<div class="form-group">
  <label for="Zip_{{ form.id | default: 'new' }}">Postal/ZIP code</label>
  <input type="text" id="Zip_{{ form.id | default: 'new' }}" name="address[zip]" value="{{ form.zip }}" />
</div>

<div class="form-group">
  <label for="Phone_{{ form.id | default: 'new' }}">Phone</label>
  <input type="tel" id="Phone_{{ form.id | default: 'new' }}" name="address[phone]" value="{{ form.phone }}" />
</div>

<div class="form-group">
  <input type="checkbox" id="Default_{{ form.id | default: 'new' }}" name="address[default]" value="1" {% if form.default %}checked{% endif %} />
  <label for="Default_{{ form.id | default: 'new' }}">Set as default address</label>
</div>
