<!-- Drawer -->
<div
  id="drawer"
  class="fixed inset-y-0 right-0 w-[390px] bg-white shadow-lg transform translate-x-full transition-transform duration-300 ease-in-out z-30"
>
  <div id="drawer-loader" class="hidden abolute top-1/2 left-1/2 size-10">
    {{ 'loading-spinner.svg' | inline_asset_content }}
  </div>
  <div class="flex items-center justify-between px-5 py-3 border-b">
    <h2 class="text-lg font-semibold text-gray-700 inline-flex gap-2">
      Cart
      <span class="cart-count size-[25px] flex items-center justify-center rounded-full bg-black text-white text-base">
        {{- cart.item_count -}}
      </span>
    </h2>
    <button
      id="closeDrawerBtn"
      aria-label="Close drawer"
      class="text-gray-600 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 rounded"
    >
      ✕
    </button>
  </div>
  <div class="p-5">
    <div id="cart-items-container">
      {% for item in cart.items %}
        <div class="cart-item" data-line="{{ forloop.index }}">
          <div class="image"><img src="{{ item.image | img_url: 'master' }}" alt="{{ item.title }}"></div>
          <div class="title">
            <h3>{{ item.title }}</h3>
          </div>
          <div class="quantity-controls">
            <button type="button" class="decreaseBtn" data-line="{{ forloop.index }}">-</button>

            <input
              type="text"
              class="quantityInput"
              data-line="{{ forloop.index }}"
              value="{{ item.quantity }}"
              min="1"
            >
            <button type="button" class="increaseBtn" data-line="{{ forloop.index }}">+</button>
          </div>
          <a href="#" class="remove-icon" data-line="{{ forloop.index }}">
            {% render 'icons', icon: 'trash' %}
          </a>
          <div class="item-loader hidden absolute right-0 top-0 size-10" data-line="{{ forloop.index }}">
            {{ 'loading-spinner.svg' | inline_asset_content }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Overlay -->
<div id="overlay" class="fixed inset-0 bg-black bg-opacity-30 hidden z-20"></div>
