<!-- Drawer -->
<div
  id="drawer"
  class="fixed right-0 w-[390px] h-full bg-white shadow-lg transform translate-x-full transition-transform duration-300 ease-in-out z-50"
>
  <div class="relative h-full">
    <div id="drawer-loader" class="hidden absolute z-50 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 size-10">
      {{ 'loading-spinner.svg' | inline_asset_content }}
    </div>
    <div class="flex items-center justify-between px-5 py-3 border-b">
      <h2 class="text-lg font-semibold text-gray-700 inline-flex gap-2">
        Cart
        <span class="cart-count size-[25px] flex items-center justify-center rounded-full bg-black text-white text-base">
          {{- cart.item_count -}}
        </span>
      </h2>
      <button
        id="closeDrawerBtn"
        aria-label="Close drawer"
        class="text-gray-600 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 rounded"
      >
        ✕
      </button>
    </div>
    <div class="p-5">
      <div id="cart-items-container">
        {% for item in cart.items %}
          <div
            class="relative flex items-center gap-4 p-4 border-b border-gray-200"
            data-line="{{ forloop.index }}"
          >
            <!-- 🖼 Product Image -->
            <div class="w-32 flex-shrink-0">
              <img
                src="{{ item.image | img_url: 'master' }}"
                width="100%"
                height="auto"
                alt="{{ item.title }}"
                class="rounded"
              >
            </div>

            <div class="flex flex-col justify-between flex-grow relative">
              <div>
                <h3 class="text-sm font-semibold text-gray-800">{{ item.title }}</h3>
              </div>

              <div class="flex items-center justify-between gap-2 bg-[#F8F8F8] max-w-[103px] w-full mt-2">
                <button
                  type="button"
                  class="decreaseBtn text-2xl size-8 inline-block"
                  data-line="{{ forloop.index }}"
                >
                  −
                </button>
                <input
                  type="text"
                  class="quantityInput text-base text-center w-9"
                  data-line="{{ forloop.index }}"
                  value="{{ item.quantity }}"
                  min="1"
                >
                <button
                  type="button"
                  class="increaseBtn text-2xl size-8 inline-block"
                  data-line="{{ forloop.index }}"
                >
                  +
                </button>
              </div>
              <div class="absolute bottom-0 right-0 flex items-center gap-5">
                {% if item.compare_at_price > item.price %}
                  <h5 class="line-through !text-xl text-black !font-normal">{{ item.compare_at_price | money }}</h5>
                  <h4 class="!text-3xl !font-semibold text-black">{{ item.price | money }}</h4>
                {% else %}
                  <h4 class="!text-3xl !font-semibold text-black">{{ item.price | money }}</h4>
                {% endif %}
              </div>
            </div>

            <a
              href="#"
              class="remove-icon absolute top-2 right-2 text-gray-500 hover:text-red-600"
              data-line="{{ forloop.index }}"
            >
              {% render 'icons', icon: 'trash' %}
            </a>

            <div class="item-loader hidden absolute top-2 right-10 w-6 h-6" data-line="{{ forloop.index }}">
              {{ 'loading-spinner.svg' | inline_asset_content }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- Overlay -->
<div id="overlay" class="fixed top-0 left-0 inset-0 bg-black bg-opacity-40 hidden z-40"></div>
