<style>
.collection-boxs {
  display: grid;
  align-items: center;
  gap: 26px;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

</style>

<div class="featured-collection">
  <h2>Featured Collection</h2>

  {%- if section.settings.collection != blank -%}
    
  <div class="collection-boxs">

    {%- assign collection = collections[section.settings.collection] -%}
    {%- for product in collection.products limit: section.settings.product_limits -%}
      <div class="collection-box">
          <a href="{{ product.url | url_escape }}">
            <img src="{{ product.featured_image | img_url: 'master' }}" width="100%" alt="{{ product.title | escape }}"></a>
          <a href="{{ product.url | url_escape }}">
            <h4>{{ product.title | escape }}</h4>
          </a>
          <p>{{ product.price | money }}</p>
          <p>{{ product.description | truncatewords: 16 }}</p>
      </div>
    {%- endfor -%}

  </div>    

  {%- else -%}
    <h4>Please Select A Colleciton</h4>
  {%- endif -%}
</div>


{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Select Collection"
      },
      {
          "type": "range",
          "id": "product_limits",
          "min": 3,
          "max": 8,
          "step": 1,
          "label": "Select Product Limit",
          "default": 4
      }
    ],
    "presets": [
      {
        "name": "Featured Collection",
        "category": "collection"
      }
    ]
  }
{% endschema %}