<div class="header-section" style="display: flex; align-items: center; justify-content: space-between; margin: 0 120px">
  <div class="header-logo">
    <a href="{{ shop.url | escape }}" title="{{ shop.title | escape }}">
      {% if section.settings.header_logo %}
        <img 
          src="{{ section.settings.header_logo | img_url: 'master' }}" 
          alt="{{ shop.title | escape }}" 
          loading="lazy"
        >
      {% else %}
        <h5>{{ shop.title | escape }}</h5>
      {% endif %}
    </a>
  </div>

  <div class="header-menu">
    {% if section.settings.header_menu != blank and section.settings.header_menu.links != blank %}
      <ul style="display: flex; align-items: center; gap: 20px; list-style: none;">
        {% for link in section.settings.header_menu.links %}
          <li><a href="{{ link.url | escape }}">{{ link.title | escape }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="header-right" style="display: flex; gap: 25px;">
    {%- form 'currency' -%}
      <select name="currency" class="shopify-currency-form" onchange="this.form.submit()">
        {% for currency in shop.enabled_currencies %}
          <option value="{{ currency.iso_code }}" {% if currency == cart.currency %}selected{% endif %}>
            {{ currency.iso_code }} ({{ currency.symbol }})
          </option>
        {% endfor %}
      </select>

    {%- endform -%}
    <form action="{{ routes.search_url }}" style="display: flex;">
      <input type="text" name="q" placeholder="Search..." value="{{ search.terms }}">
      <button type="submit">{%- render 'icons', icon: 'search' -%}</button>
    </form>
    {% if customer %}
      <a href="{{ routes.account_url }}">Profile</a>
    {% else %}
      <a href="{{ routes.account_login_url }}">Login</a>
    {% endif %}
    <a href="{{ routes.cart_url }}">
      {%- if cart.item_count > 0 -%}
        {%- render 'icons', icon: 'bag-fill' -%} ({{ cart.item_count }})
      {%- else -%}
        {%- render 'icons', icon: 'bag' -%}
      {%- endif -%}
    </a>
  </div>

</div>

{% schema %}
{
  "name": "Header Section",
  "tag": "section",
  "class": "shopify-section-header-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Select Logo"
    },
    {
      "type": "link_list",
      "id": "header_menu",
      "label": "Select Menu"
    }
  ],
  "presets": [
    {
      "name": "Header Section",
      "category": "Header"
    }
  ]
}
{% endschema %}
